@model IntakeVM
@{
    string narrative = Model != null ? Model.Narrative : string.Empty;
}
<h6>Narrative</h6>

<script>
    function OnEditorChange(e)
    {
        let idValue = $("#modelId").val();
        if (idValue != 0)
        {
            whenChanging();
        }
        
    }
</script>

@(Html.Kendo().Editor()
    .Name("NarrativeEditor")
    .HtmlAttributes(new { style = "height:240px", aria_label = "editor" })
    .Resizable(resizable => resizable.Content(true).Toolbar(false))
    .Tools(t => t.Clear())
    .Events(e => e.Change("OnEditorChange"))
    .Value(@<text>@narrative</text>)
)