@model IntakeVM
@{ 
    var id = (Model != null)? Model.CaseId :0; 
}
<input id="modelId" type="hidden" value="@id" />
<div class="grid halves custom">
@{
    foreach (var viewName in (List<string>)ViewBag.SectionList)
    {
        <div class="grid-item">
            @Html.Partial(viewName,Model)
        </div>
    }
}
</div>