<script>
    function onRequestEnd(e) {
        if (e.type == "update" || e.type == "create" || e.type == "remove") {
            $("#grid").data("kendoGrid").dataSource.read();
        }
    }

    function onEdit(e) {
    }
</script>
@(Html.Kendo().Grid<CaseTypesVM>()
          .Name("grid")
          .Columns(columns =>
          {
              columns.Bound(c => c.TypeId);
              columns.Bound(c => c.Description);
              columns.Bound(c => c.Active).ClientTemplate("<span> #= Active ? value='Active': 'Inactive' # </span>").EditorTemplateName("Active");
              columns.Command(command => { command.Edit().Text(" ").CancelText(" ").UpdateText(" "); command.Destroy().Text(" "); });
          })
          .Scrollable()
          .DataSource(dataSource => dataSource
              .Ajax()
              .Model(m =>
              {
                  m.Id(c => c.TypeId);
                  m.Field(c => c.TypeId).Editable(false);
              })
              .Read(read => read.Action("Read", "CaseTypes"))
              .Destroy(destroy => destroy.Action("Destroy", "CaseTypes"))
              .Update(update => update.Action("Update", "CaseTypes"))
              .Create(create => create.Action("Create", "CaseTypes"))
              .Events(events => events.RequestEnd("onRequestEnd"))
          )
          .ToolBar(toolbar => { toolbar.Create().Text("Add"); })
          .Editable(editable => editable.Mode(GridEditMode.InLine))
          .Events(e => e.Edit("onEdit"))
)

