<div id="megaStore">
@(Html.Kendo().Menu()
      .Name("Menu")
      .Items(items =>
      {
          items.Add().Text("Home").Url("~/Home/Index");
          items.Add().Text("Schedule");
          items.Add().Text("Cases");
          items.Add().Text("Intakes").Url("~/Intakes/Index");
          items.Add().Text("Reports");
          items.Add().Text("Admin").Url("~/Admin/Index");
      })
    )

 </div>
