
@{
    ViewBag.Title = "Login Error";
}
<div style="width: 50%; margin: 100px auto 100px; min-height:600px;">
    <h2>Login Error</h2>
    <h6 class="text-danger">
        This user is not currently registered in the system. Contact the Adminstrator.
    </h6>

</div>
    
